@import "../../styles/theme.scss";
.app-sidebar {
   position: fixed;
   height: 100%;
   padding: 32px 24px;
   background: linear-gradient(329.54deg, $primary-color 0%, $primary-color 100%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   img {
      width: 48px;
   }

   footer {
      a,
      button {
         width: 48px;
         height: 48px;
         border: 0;
         background: $button-container-background;
         border-radius: 16px;
         cursor: pointer;
         transition: background-color 0.2s;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      a:hover,
      button:hover {
         background: $button-container-background-hovered;
      }
   }
}
